<div class="sidebar">
  <h2>Select data</h2>
  <ul id="menu" class="menu">
    <li>No services connected</li>
  </ul>

  <h2>Connect services</h2>
  <ul class="auth">
    <% for (var i = 0; i < services.length; i++) { %>
      <li><%- authorizationLink(services[i],  services[i]) %></li>
    <% } %>
  </ul>
</div>

<div id="chart" class="chart">
</div>

<div class="empowered">
  Empowered by <a href="https://singly.com">
    <img src="https://singly.com/images/singly-logo_100.png" />
  </a>
</div>
