<!DOCTYPE html>
<html>
 <head>
  <title>Quantified Dashboard</title>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

  <script src="/lib/sprintf-0.7-beta1.js"></script>
  <script src="/lib/underscore-min.js"></script>
  <script src="/lib/crossfilter.v1.min.js"></script>
  <script src="/lib/spin.min.js"></script>
  <script src="/lib/d3.v2.min.js"></script>
  <script src="/lib/nvd3/nv.d3.min.js"></script>
  <script src="/lib/nvd3/tooltip.js"></script>
  <script src="/lib/nvd3/utils.js"></script>
  <script src="/lib/nvd3/models/legend.js"></script>
  <script src="/lib/nvd3/models/axis.js"></script>
  <script src="/lib/nvd3/models/scatter.js"></script>
  <script src="/lib/nvd3/models/line.js"></script>
  <script src="/lib/nvd3/models/lineWithFocusChart.js"></script>

  <script>
    var accessToken = '<%= session.accessToken %>';
  </script>

  <script src="/app.js"></script>

  <style>
   @import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);
   @import url(index.css);
   @import url(lib/nvd3/nv.d3.css);
  </style>
 </head>

 <body>
  <h1><a href="/">Quantified Dashboard</a></h1>

  <%- body %>
 </body>
</html>
