<!DOCTYPE html>
<html>
 <head>
  <title>Quantified Dashboard</title>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

  <script src="/lib/sprintf-0.7-beta1.js"></script>
  <script src="/lib/underscore-min.js"></script>
  <script src="/lib/crossfilter.v1.min.js"></script>
  <script src="/lib/d3.v2.min.js"></script>

  <script>
    var accessToken = '<%= session.accessToken %>';
  </script>

  <script src="/app.js"></script>
  <script src="/index.js"></script>

  <link rel="stylesheet" href="/styles.css" />
  <style>
   @import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);
   @import url(index.css);
  </style>
 </head>

 <body>
  <h1><a href="/">Quantified Dashboard</a></h1>

  <%- body %>
 </body>
</html>
