body {
  font-family: "Helvetica Neue";
  margin: 10px;
  min-height: 2000px;
}

h1 {
  font-size: 96px;
  margin-top: .3em;
  margin-bottom: 0;
}

h1 + h2 {
  margin-top: 0;
}

h2 {
  font-weight: 400;
  font-size: 28px;
}

h1, h2 {
  font-family: "Yanone Kaffeesatz";
  text-rendering: optimizeLegibility;
}

#body > p {
  line-height: 1.5em;
  width: 640px;
  text-rendering: optimizeLegibility;
}

.chart {
  position: relative;
  width: 1000px;
  float: left;
}

a, a:visited {
  color: #25aae1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 5px 0 5px 5px;
  padding: 0;
}

li {
  list-style-type: none;
}

.sidebar {
  width: 200px;
  float: left;
}

.menu h3 {
  margin: 0;
  font-size: 18px;
}

.menu .service {
  width: 80%;
}

.menu .service .count {
  color: #666;
  float: right;
}

.check {
  color: #25aae1;
}

.empowered {
  clear: both;
  padding-top: 50px;
}
